@font-face {
  font-family: "Stengazeta";
  src: url("../fonts/Stengazeta-Regular_5.ttf") format("truetype");
}

h2 {
  font-family: "Stengazeta";
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1.5rem;
}

.factWrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.factInput {
  font-family: inherit;
  padding: 10px;
  margin-right: 2.5rem;
  border: 3px solid var(--color-main);
  border-radius: 1.5rem;
  background-color: var(--color-lightest);
  font-size: 1.5rem;
  font-weight: 600;
}
.factInput:focus {
  outline: var(--color-accent) ridge 0.3rem;
  box-shadow: 1rem 0.5rem 0.7rem var(--color-accent),
    -1rem -0.5rem 0.7rem var(--color-wrong);
}

.factBtn {
  align-self: center;
  background-color: var(--color-accent);
  color: var(--color-lightest);
}

.errorMes {
  color: var(--color-wrong);
  font-size: 2rem;
  margin-top: 1.5rem;
}
