.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1.5rem;
}

.inputWrapper {
  display: inherit;
  flex-direction: column;
  gap: 2rem;
  width: 30rem;
}

.nameInput {
  font-size: 2rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 1.5rem;
}
.result {
  font-size: 2rem;
}

.submitBtn {
  color: var(--color-lightest);
  background-color: var(--color-accent);
}

.errorMes {
  color: var(--color-wrong);
  font-size: 2rem;
  margin-top: 1.5rem;
}

/* adaptivness */

/* Extra small: 320-575px */
@media (max-width: 575px) {
  .wrapper {
    gap: 1.5rem;
  }
  .inputWrapper {
    display: inherit;
    flex-direction: column;
    gap: 2rem;
    width: 18rem;
  }
  .nameInput {
    font-size: 1.3rem;
  }
  .result {
    font-size: 1.3rem;
  }
  .errorMes {
    font-size: 1.3rem;
  }
}
