@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..700&display=swap");

:root {
  --color-lightest: #f7f8ff;
  --color-darkest: #2e303a;
  --color-main: #a8aabc;
  --color-accent: #0077ff;
  --color-wrong: #e54200;
  --color-right: #009b58;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Playfair Display", serif;
  font-size: 65%;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  min-width: 100%;
  min-height: 100vh;
  /* padding: 4rem; */
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  background-color: var(--color-darkest);
  color: var(--color-lightest);
}

#root {
  width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
  border-radius: 1.5rem;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 2rem;
  font-weight: 500;
  /* background-color: ; */
}
button:hover {
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.loader {
  font-size: 2rem;
  margin-top: 3rem;
}
